<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="signup">
      <form action="http://localhost:5000/usignupcheck" method="POST">
        <h1>USER SIGN UP</h1>
        <h3>Name</h3>
        <input type="text" name="name" />
        <h3>Phone</h3>
        <input type="text" name="phone" />
        <h3>email</h3>
        <input type="email" name="email" /><br />
        <input type="submit" value="signup" />
      </form>
    </div>
  </body>
</html>
